/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) {
    body { 
        padding-left: 20%;
        padding-right: 20%;
     }
 }
                 
 /* Mobiles */
 @media (max-width: 767px) { 
     body { 
         padding-left: 5%;
         padding-right: 5%;
     }
 }

body { 
    text-align: center;
    font-family: sans-serif;
    background: black;
}

h1 {
    color: white;
    font-family: 'Kinsta',sans-serif;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    color: white;
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    color: white;
    font-weight: bold;
    font-family: 'PT Sans',sans-serif;
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    color: white;
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
}

/* Image div */
.image{
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    display: block;
	text-align : center;
    width: 20px;
}

/* == FLEXBOX PARENT CONTAINER == */
.container-flexbox { 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap
    
    
}



.col1{
    background-image: linear-gradient(90deg,#321147,#182853);
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23% 
}

.col2{
    background-image: linear-gradient(90deg,#f7506c,#f7bd50);
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23% 
}

.col3{
    background-image: linear-gradient(90deg,#6b2d38,#cd6065);
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23% 
}

.col4{
    background-image: linear-gradient(90deg,#b8ea0a,#50c8f7);
    padding: 12px; 
    margin-bottom: 40px; 
    width: 23% 
}
